body{
    margin: 0%;
    padding: 0%;
}
#main{
   border: 1px solid rebeccapurple;
}
#left{
    height: 50rem;
    width: 35%;
    background-color: rgb(54, 110, 159);
    display: inline-block;

    margin: 0px -8px 0px 0px;
    

}
#left1{
    background-color: aliceblue;
}

#right{
    height: 50rem;
    width: 55%;
    background-color: rgb(58, 148, 148);
    display: inline-block;
    margin: 0px 0px 0px 0px;
    
   
}